p {
    font-size: 12rem;
    margin: 0px;
    margin-bottom: auto;
    color: slategrey;

}

p.main-display {
   min-height: 12rem;
}
p.bottom-text {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: auto;
    padding-bottom: 0.2rem;
}