body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #3e4553;
}

button {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 2rem;
  color: #a0a7b1;
  margin-top: 2rem;
  background-color: #2a2d33;
  border-radius: 2rem;
  cursor: pointer;

}

div.counter {
  color: slategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
